/*Style.css*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
/*Veriables*/


html, body{ height: 100%}
body{ font-family: 'Open Sans', sans-serif; color:#353535; font-weight:400; font-size:14px; background-color: #eaeef1 !important; }
a { color:#333;}
a:hover { color:#333;}
.btn:focus, .btn.focus{ box-shadow: none;}
.form-control:focus{ box-shadow:none; border-color:#8F8F8F;}

h4{font-size: 18px; line-height: 22px; font-weight: 600;}
.fontSize17{ font-size: 17px!important;}

/*Addjustment*/
.m-t-15{ margin-top: 15px;} 
.m-b-15{ margin-bottom: 15px!important;}
.m-t-20{ margin-top: 20px;} 
.m-b-20{ margin-bottom: 20px!important;}
.m-t-25{ margin-top: 25px;} 
.m-t-40 {margin-top: 40px !important;}
.m-b-25{ margin-bottom: 25px;}
.m-t-30{ margin-top:30px;} 
.m-b-30{ margin-bottom:30px;}
.m-b-40 {margin-bottom: 40px;}
.m-b15 {margin-bottom: 15px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-t-60 {margin-top: 60px !important;}

.ml-5 {margin-left: 5px !important;}
.m-r-10{ margin-right:10px;}
.m-r-40{ margin-right:40px;}
.m-l-20 {margin-left: 20px !important;}
.m-l-0 {margin-left: 0px !important;}
.m-l-15 {margin-left: 15px !important;}
.p-d-25 {padding: 25px;}
.pd-30 {padding: 30px;}

.W-10 {width: 10%;}
.W-70 {width: 70%;}
.noPad{ padding: 0;}
.noMar{ margin: 0;}
hr{border-top:1px solid rgba(220,220,220,1); margin-top:0; margin-bottom:25px;}
.mdLable{ font-size:16px;}


/****************Header*************/

.headerTop{ background-color:#ffffff; color:#353535; height: 70px;}
.headerTop img {cursor: pointer;}
.userTopRtSec .dropdown-toggle.btn{ padding: 0;}
.userTopRtSec .dropdown-toggle::after{ display: none;}
.userTopRtSec .dropdown-toggle.btn.btn-success{ background: none; border: none; box-shadow:none;}
.userTopRtSec .topUserBtn{ text-align: left;}
.userTopRtSec .topUserBtn div:last-child{ padding-left: 10px;}
.topUserBtn p{ margin:0; font-size:13px; line-height:18px; color:#4F4F51}
.topUserBtn p.userName{ color:#353535; font-weight: 600;}
.userTopRtSec .btn-success:not(:disabled):not(.disabled).active:focus, .userTopRtSec .btn-success:not(:disabled):not(.disabled):active:focus, .userTopRtSec .show>.btn-success.dropdown-toggle:focus{ box-shadow:none;} /*Added Parent Class ".userTopRtSec"*/
.userTopRtSec .btn-success.focus, .userTopRtSec .btn-success:focus{ box-shadow:none;}
.userTopRtSec .notiBell{ background:url('../images/CSC.svg') no-repeat 50% 100%; width:85px; height:40px; position:relative; margin-right:27px; display:block;}

/*-------------- Tab Section--------------*/
.messageDeskSec .nav-pills .nav-link { font-size:16px; line-height: 18px; color:#8F8F8F; letter-spacing:.36px; padding: 25px 40px 20px; outline: none;}
.messageDeskSec .nav-pills .nav-link.active, .messageDeskSec .nav-pills .show>.nav-link{ position: relative; background:none; color:#353535; font-weight:800; }
.messageDeskSec .nav-pills .nav-link.active::after{content:""; position: absolute; bottom:0; left:0; right:0; margin:0 auto; width:50px; height:3px; background:#0286CE;}
.messageDeskSec .nav-pills .messageDeskTab { border-bottom: 1px solid rgba(0,0,0,.16); margin-bottom: 25px;}

.bg-light{ background-color:#eaeef1!important; color: #8F8F8F;}
.navbar-nav{ text-transform: uppercase;}
.navbar-toggler{ border-radius:0; padding: .25rem 0.45rem; font-size: 1.25rem; background:#fff; border-color: transparent!important;}
.navbar-toggler:focus, .navbar-toggler:hover{ outline: none; border-color: transparent;}
.navbar{ padding: .5rem 0.6rem;}


/****************Side Nav*************/

.content{ padding:30px;}
.contentSec{ overflow: hidden; border-radius:15px; border: 0px solid #000000; box-shadow: 0 2px 10px rgba(0, 0, 0, .08); -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .08); -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .08);}
.leftNav{  background: url('../images/sidenav-bg.svg') no-repeat left 0; color:#fff; min-height: 730px; padding-top: 25px; position: relative;}
.flexiContent{ background:#f4f4f4;}
.bgWhite{ background:#fff;}


ul.navPan{ margin:0; padding:0; list-style: none;}
ul.navPan li a{ color:#fff; font-size:13px; padding:10px 20px 20px; box-sizing: border-box; display: block; text-align: left; }
ul.navPan li a:hover{ text-decoration:none; background-color:#053f77 ; color: #fff;}
ul.navPan li a.active { background-color: #fff; color: #0085CF; display: inline-block;}
ul.navPan li a p{ margin-bottom:0;}
ul.navPan li a span{ margin-bottom:8px; display: block; }

.leftIcon01 {display: inline-block !important; margin-right: 10px;}
.btn-lg {border-radius:0px 50px 50px 0px; -moz-border-radius:0px 50px 50px 0px; -webkit-border-radius:0px 50px 50px 0px; background-color: #17446c !important; width: 157px; height: 52px; position: absolute; bottom: 30px; border: none !important ; text-decoration: none; box-shadow: none !important; outline: none !important;}
.btn-lg a {color: #ffffff !important; font-size: 14px;}
.btn-lg a:hover {text-decoration: none !important;}
/* ul.navPan li a span.leftIcon01{ background:url('../images/leftIcon01.svg') no-repeat 50% 100%; width: 40px; height: 40px;} */
/* ul.navPan li a:hover span.leftIcon01, ul.navPan li a.active:hover span.leftIcon01, ul.navPan li a.active span.leftIcon01{ background:url('../images/leftIcon01Hover.png') no-repeat  50% 100%;} */

/* ul.navPan li a span.leftIcon02{ background:url('../images/leftIcon02Hover.svg') no-repeat 50% 100%; width: 40px; height: 40px;} */
/* ul.navPan li a:hover span.leftIcon02, ul.navPan li a.active:hover span.leftIcon02, ul.navPan li a.active span.leftIcon02{ background:url('../images/leftIcon02.png') no-repeat 50% 100%;} */

/* ul.navPan li a span.leftIcon03{ background:url('../images/leftIcon03.svg') no-repeat 50% 100%; width: 40px; height: 40px;} */
/* ul.navPan li a:hover span.leftIcon03, ul.navPan li a.active:hover span.leftIcon03, ul.navPan li a.active span.leftIcon03{ background:url('../images/leftIcon03Hover.png') no-repeat 50% 100%;} */

/* ul.navPan li a span.leftIcon04{ background:url('../images/leftIcon04.svg') no-repeat 50% 100%; width: 40px; height: 40px;} */
/* ul.navPan li a:hover span.leftIcon04, ul.navPan li a.active:hover span.leftIcon04, ul.navPan li a.active span.leftIcon04{ background:url('../images/leftIcon04Hover.png') no-repeat 50% 100%;} */

/* ul.navPan li a span.leftIcon05{ background:url('../images/leftIcon05.svg') no-repeat 50% 100%; width: 40px; height: 40px;} */
/* ul.navPan li a:hover span.leftIcon05, ul.navPan li a.active:hover span.leftIcon05, ul.navPan li a.active span.leftIcon05{ background:url('../images/leftIcon05Hover.png') no-repeat 50% 100%;} */

.footer {width: 100%; margin: 0 auto; text-align: center; font-size: 12px; color: #ACACAC;}
.footer:before {content: ""; border: 1px solid #D8D8D8; width: 100%; height: 2px; margin-bottom: 25px; display: block;}

/*------Table------*/
.tablecontent {background-color: #ffffff; border-radius: 15px; box-shadow: 0 2px 10px rgba(0, 0, 0, .08); overflow: hidden; margin-bottom: 200px;}
.tablecontent td {color: #575757; font-size: 20px; padding: 20px 30px;}
.buy {border: 1px solid #ff8000; border-radius: 16.5px; padding: 6px 20px; color:#ff8000; font-size: 14px; text-align: center; background-color: #ffffff !important; outline: none !important;}
.renew {border: 1px solid #2B75B7; border-radius: 16.5px; padding: 6px 20px; color:#2B75B7; font-size: 14px; text-align: center; background-color: #ffffff !important; outline: none !important;}
.tablecontent tr:hover .buy {border: 1px solid #ff8000 !important; background-color: #ff8000 !important; color: #ffffff !important;}
.tablecontent tr:hover .renew {border: 1px solid #2B75B7 !important; background-color: #2B75B7 !important; color: #ffffff !important;}
.buy.active:focus {color:#ff8000 !important;}
.renew.active:focus {color:#2B75B7 !important;}
 .tablecontent table {width: 100%;}
 .tablecontent tr:hover {background-color: #efefef;}



/*-------------- Select Brand Section--------------*/

.brand { margin: 0 auto; max-width: 1066px; background: url(../images/brand-bg.svg) no-repeat center center; box-shadow: 0 4px 20px rgba(0, 0, 0, .08); -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .08); -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, .08); box-sizing: border-box; border-radius: 25px;}
.brand-bg {  width: 100%; height: 545px;}
.brandhead h4 {font-size: 15px; color: #1482AB;}
.brandhead p {font-size: 18px; color: #231F20;}

.regisBox {box-sizing: border-box; border-radius: 12px; background-color: #2770b3; padding: 30px 25px 100px;}
.txtRegistr {color: #FFFFFF; font-size: 12px;}
.rgistrBtn {border: 1px solid #AFDFF2; border-radius: 15px; background-color: #2770b3; color: #ffffff !important; padding: 3px 15px; font-size: 12px; text-transform: uppercase;}


.brand-table {background-color: #ffffff; border-radius: 16.5px; overflow: hidden; max-width: 647px; border-right: 1px solid #D4D4D4; margin-top: 30px; margin-bottom: 50px;}
.brand-table td {border: 1px solid #D4D4D4; padding: 15px 17px; cursor: pointer;}
.brand-table td:hover {transform: scale(1); box-shadow: 0 3px 16px rgba(0, 0, 0, .26);}

.backBtn {padding: 10px 45px; color: #AEAEAE; border: 1px solid #AEAEAE; border-radius: 23px; background-color: #ffffff; margin-right: 15px; outline: none !important;}
.proceedBtn {padding: 12px 50px; color: #ffffff; border: 1px solid #FF8000; border-radius: 23px; background-color: #FF8000 !important; outline: none !important;}



/*---------Modal-------*/
.modal-content {border-radius: 15px !important; position: absolute !important; top: 95px; border: 1px solid #1167B1 !important; max-width: 403px;}
.customModal .modal-body{ text-align: center; padding: 20px 15px;}
.customModal h3{ font-size:16px; font-weight:700; margin-top: 0; margin-bottom: 15px;}
.customModal img { text-align: center; margin-bottom: 30px;}

.main{ position:relative;}

.main textarea, .main input { outline: none; border: 0; border-bottom: 1px solid #1167B1; font-size:14px; color:#AEAEAE; width:100%; background: url(../images/search.svg) no-repeat top 0% right 7px; }

.modalboxInfo {text-transform: uppercase; font-weight: 700;}
.grey {color: #8e8e8e; font-size: 12px;}
.brdrbottom {border-bottom: 1px solid #bdbdbf; height: 30px;}





.customCheckBoxtwo {
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* Hide the browser's default checkbox */
 .customCheckBoxtwo input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   top: 0;
   right: 24px;
   height: 16px;
   width: 16px;
   background-color: #eee;
 }
 
 /* On mouse-over, add a grey background color */
 .customCheckBoxtwo:hover input ~ .checkmark {
   background-color: #ccc;
 }
 
 /* When the checkbox is checked, add a blue background */
 .customCheckBoxtwo input:checked ~ .checkmark {
   background-color: #2196F3;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .customCheckBoxtwo input:checked ~ .checkmark:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .customCheckBoxtwo .checkmark:after {
   left: 6px;
   top: 2px;
   width: 5px;
   height: 12px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);}

/*------Hamburger Menu------*/
/* Position and sizing of burger button */
.bm-burger-button { position: absolute; width:36px; height:30px; right:17px; top:78px;}
/* Color/shape of burger icon bars */
.bm-burger-bars { background: #373a47;}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover { background: #a90000;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height: 24px; width: 24px;}
/* Color/shape of close button cross */
.bm-cross { background: #bdc3c7;}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap { position: fixed; height: 100%;}
/* General sidebar styles */
.bm-menu { background: #373a47; padding: 2.5em 1.5em 0; font-size: 1.15em;}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill: #373a47;}
/* Wrapper for item list */
.bm-item-list a{ color: #fff; padding: 0.4em;}
/* Individual item */
.bm-item { display: inline-block;}
/* Styling of overlay */
.bm-overlay { background: rgba(0, 0, 0, 0.3);}

/*--------Custom Style-----------*/
.bm-overlay{ top:0}
.bm-burger-button{ background:url(../images/leftArrowIcon.png) 100% 50% no-repeat;}
.bm-burger-button span{ display: none;}

.smMenu{ top:0}
.smMenu .bm-menu{ background: #0076c4;}
.smMenu .bm-cross{ background: #fff;}
.bm-item-list a:hover{ text-decoration:none; background-color: #1686d0;}
.bm-item-list a:focus{ outline: none;}
.bm-burger-button{ display: none;}
/*------/Hamburger Menu------*/


/*********** Extra large devices (large desktops, 1200px and up)***************/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
    
}

@media (min-width: 1200px) and (max-width: 1220px) {
    
}

/******************** Large devices (desktops, less than 1200px)********************/
@media (max-width: 1199.98px) {
    /* .leftNav {display: none;} */

 }
 

/******************** Medium devices (tablets, less than 992px)********************/
@media (max-width: 991.98px) { 
   
    
}

/******************** Small devices (landscape phones, less than 768px)********************/
@media (max-width: 767.98px) {
   

}

@media (max-width: 680px) {
   
    
}

/******************** Extra small devices (portrait phones, less than 576px)********************/

@media (max-width: 575.98px) { 
   .tablecontent {overflow: scroll;}
      
}

/* Absolute Center Spinner for Loader */
.loading {
    position: fixed;
    z-index: 999999;
    height: 50px;
    width: 50px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Transparent Overlay */
    .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.loading img {
    left: 0;
    position: absolute;
    top: 0;
}